*{
    font-family: Arial, sans-serif;
}
body{
    background: #fffdff;
}

.link {
    color:#2b6dad;
}

.link:hover {
    color:#2b6dad;
}
.meta-link{
    color: #aaa;
}

/*start of globals*/
a {
    color: #0a0a0a;
    cursor: pointer;
}

::selection {
  background: #b3ff70; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #b3ff70; /* Gecko Browsers */
}

.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 20px;
}
.m-t-15 {
    margin-top: 20px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-b-5 {
    margin-bottom: 5px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.shadowed{
    box-shadow: 2px 2px 4px 5px #ccc;
}
.m-t-100{
    margin-top: 100px;
}
.p-0{
    padding: 0px !important;
}
.p-100{
    padding: 20px;
}
/*end of globals*/

/*wizard*/
.wizard{
    float:right;
    padding-bottom: 15px;
  }
.wizard li {
  background-color: #a3a3a3;
  border-radius: 5px;
  display: inline;
  padding: 10px 30px 10px 40px;
  margin-right: 15px;
  width: auto;
}
.wizard li a{color:#FFF;text-decoration:none;}
.wizard li::before, .wizard li::after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-left-color: #fff;
  border-radius: 10px;
}

.wizard li::before {
  border-width: 25px; 
  margin-top: -16px;
  margin-left: -40px;
}


.wizard li::after {
  border-left-color: #a3a3a3;
  border-width: 21px; 
  margin-top: -11px;
  margin-left: 24px;
}

.wizard li.selected {
  background-color: #009682;
  color: #fff;
}
.wizard li.selected::after {
  border-left-color: #009682;
}

.wizard li.disabled {
  background-color: #a1c4bb;
  color: #fff;
  cursor:not-allowed;
}
.wizard li.disabled::after
{
  border-left-color: #a1c4bb;
  cursor:not-allowed;
}
.wizard li.disabled a{
 cursor:not-allowed; 
}

/*.wizard li:last-child::after {
  border-left-color: transparent;
}*/
/* Mobile Orientation Portrait Portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    /*@media only screen and (max-width: 768px) {*/
    .wizard li {
    padding: 5px 10px 5px 10px;
    width: 80%;
    float: left;
    margin:5px auto; 
    }

    .wizard li a{
    margin: 0 auto;
    display: block;
    text-align: center;
    }

    .wizard li::before {
    border-width: 25px; 
    margin-top: -16px;
    margin-left: -18px;
    }


    .wizard li::after {
    border-width: 18px; 
    margin-top: -28px;
    margin-left: 184px;
    }
}

/* Mobile Orientation Landscape Landscape */
@media only screen and (min-device-width : 420px) and (max-device-width : 1024px) and (orientation: landscape) {
    .wizard li {
    padding: 5px 10px 5px 10px;
    width: 85%;
    float: left;
    margin:5px auto; 
    }

    .wizard li a{
    margin: 0 auto;
    display: block;
    text-align: center;
    }

    .wizard li::before {
    border-width: 25px; 
    margin-top: -16px;
    margin-left: -18px;
    }

    .wizard li::after {
    border-width: 18px; 
    margin-top: -28px;
    margin-left: 334px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .wizard li {
    background-color: #a3a3a3;
    border-radius: 5px;
    display: inline;
    padding: 5px 8px 5px 8px;
    width: auto;
    margin-right: 18px;
    }
    .wizard li::before {
        border-width: 25px; 
    margin-top: -16px;
    margin-left: -18px;
    }

    .wizard li a{
    padding-left: 5px;
    }
    .wizard li::after {
    border-width: 16px; 
    margin-top: -6px;
    margin-left: 1px;
    }
}
/* end of wizard */
.cat-header {
    color: #FFF;
    background-color: #3f5a9a;
    padding: 5px;
    border: 1px solid #3f5a9a;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.cat-head{
    font-style: italic;
}
.cat-sub-items-container{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.cat-sub-item{
    margin: 2px auto;
    padding: 7px;
    min-height: 25px;
    background: linear-gradient(to right, #b3b3b3 0%,#b3b3b3 26%,#b6b6b6 27%,#b4b4b4 27%,#b6b6b6 28%,#b6b6b6 30%,#b9b9b9 30%,#b9b9b9 32%,#bdbdbd 33%,#bebebe 35%,#c0c0c0 35%,#c9c9c9 39%,#d1d1d1 42%,#d3d3d3 42%,#d2d2d2 43%,#d7d7d7 44%,#d7d7d7 45%,#dcdcdc 46%,#dcdcdc 47%,#d9d9d9 47%,#c7c7c7 54%,#c2c2c2 56%,#bfbfbf 57%,#b8b8b8 59%,#b9b9b9 60%,#b4b4b4 61%,#b5b5b5 61%,#aeaeae 63%,#acacac 65%,#a9a9a9 65%,#a9a9a9 66%,#a4a4a4 67%,#a2a2a2 68%,#9b9b9b 70%,#9a9a9a 71%,#979797 71%,#959595 73%,#919191 74%,#919191 74%,#8b8b8b 76%,#929292 77%,#afafaf 81%,#b2b2b2 82%,#b9b9b9 83%,#b9b9b9 83%,#bcbcbc 83%,#c0c0c0 84%,#c4c4c4 85%,#c3c3c3 85%,#d0d0d0 87%,#d0d0d0 87%,#d3d3d3 87%,#dcdcdc 89%,#e2e2e2 91%,#e1e1e1 91%,#e4e4e4 91%,#f1f1f1 95%,#f1f1f1 100%)
}
.cat-sub-item > a {    
    color: black;
    cursor: pointer;
}

/* target filter and boundary filters styles*/
.res-menu ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.res-menu .container-el{
    padding: 9px 30px 10px 12px;
    display: inline-block;
    width: 100%;
    color: #ffffff;
    background-color: #009682;
    position: relative;
    text-decoration: none;
    margin: 1px;
    border-radius: 5px;
}
.res-menu .item{
    padding: 9px 30px 10px 12px;
    display: inline-block;
    width: 100%;
    color: #ffffff;
    background-color: #a3a3a3;
    position: relative;
    text-decoration: none;
    margin: 1px;
}
.res-menu ul li a{
    color: white;
    cursor: pointer;
}

.codico-logo{
    margin-top:20px;
}

.ipek-logo{
    margin-top:10px;
}

/* fiber boxes and containers */
.bold{
    font-weight: bold;
}
.fiber-box{
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    padding: 7px;
    /* background: linear-gradient(to right, #b3b3b3 0%,#b3b3b3 26%,#b6b6b6 27%,#b4b4b4 27%,#b6b6b6 28%,#b6b6b6 30%,#b9b9b9 30%,#b9b9b9 32%,#bdbdbd 33%,#bebebe 35%,#c0c0c0 35%,#c9c9c9 39%,#d1d1d1 42%,#d3d3d3 42%,#d2d2d2 43%,#d7d7d7 44%,#d7d7d7 45%,#dcdcdc 46%,#dcdcdc 47%,#d9d9d9 47%,#c7c7c7 54%,#c2c2c2 56%,#bfbfbf 57%,#b8b8b8 59%,#b9b9b9 60%,#b4b4b4 61%,#b5b5b5 61%,#aeaeae 63%,#acacac 65%,#a9a9a9 65%,#a9a9a9 66%,#a4a4a4 67%,#a2a2a2 68%,#9b9b9b 70%,#9a9a9a 71%,#979797 71%,#959595 73%,#919191 74%,#919191 74%,#8b8b8b 76%,#929292 77%,#afafaf 81%,#b2b2b2 82%,#b9b9b9 83%,#b9b9b9 83%,#bcbcbc 83%,#c0c0c0 84%,#c4c4c4 85%,#c3c3c3 85%,#d0d0d0 87%,#d0d0d0 87%,#d3d3d3 87%,#dcdcdc 89%,#e2e2e2 91%,#e1e1e1 91%,#e4e4e4 91%,#f1f1f1 95%,#f1f1f1 100%); */
    background: #e3e3e3;
    min-height: 25px;
    border-collapse: separate;
}
.fiber-box-header{
    background: #27458b !important;
    text-align: center;
    border-radius: 0;
    color:white;
}
.margined-border{
    border-bottom: 5px solid white;
}
td.fiber-fixed-width{
    padding: 0px !important;
    width:300px;
}
td.fiber-fixed-width span.fiber-box{
    width:300px;
}
.fiber-fixed-width .fiber-box{
    width: 210px;
    display: block;
}
.box-heading{
    padding: 5px;
    border: 1px solid #27458b;
    border-radius: 5px;
    text-align: center;
    display: block;
}
.value-wrapper {
    color: white;
    background: #5f6991;
    width: 100%;
    display: block;
    border-radius: 5px;
    text-align: center;    
}
.line{
    margin-top: 10px;
    width: 97.0%;
    background: darkgray;
    height: 3px;
    float: left;
}
.point{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 15px solid darkgray;
    float: right;
}
.dashed-border{
    border: 2px dashed #27458b;
    padding: 10px;
}
.cat-item-header{
    color: #27458b;
    margin: 0px;
    text-align: center;
    border: 1px solid #27458b;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
}

.filter-head{
    background-color: #bfbfbf;
    margin: 0px;
    color: #000;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}
.filter-header-metadata{
    background-color: lightyellow;
    margin: 15px 0px 10px 0px;
    color: #000;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.filter-header{
    background-color: #bfbfbf;
    margin: 0px;
    color: #000;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}
.filter-container{
    padding: 7px;
    border: 1px solid darkgreen;
    background-color: #FFF;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.fiber-check-box:before{
    content: '';
    font-family: 'FontAwesome';
    color: #FFF;
    border-radius: 50%;
    background-color: #337ab7;
    padding-left: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fbox-selected:before {
    content: "\F00C" !important;
    padding: 5px;
}

.area-disabled {
    z-index: 999;
    background: rgba(255,255,255,.5);
    pointer-events: none;
    opacity: 0.5;
}
.item-disabled {
    z-index: 999;
    pointer-events: none;
    opacity: 0.5;
}
/* START OF social media icons plugin styles
source: https://codepen.io/vpdemo/pen/zxRYdw*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');