<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">Navigation</li>
            <li>
                <a [routerLink]="['/admin/approval']">
                    <i class="fa fa-address-book"></i>
                    <span>User Approvals</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/categories']">
                    <i class="fa fa-angle-right"></i>
                    <span>Categories</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/subcategories']">
                    <i class="fa fa-angle-double-right"></i>
                    <span>Sub Categories</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/activities']">
                    <i class="fa fa-step-forward"></i>
                    <span>Activities</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/phases']">
                    <i class="fa fa-step-forward"></i>
                    <span>Phases</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/topics']">
                    <i class="fa fa-file"></i>
                    <span>Topics</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/questions']">
                    <i class="fa fa-question"></i>
                    <span>Questions</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/filters']">
                    <i class="fa fa-filter"></i>
                    <span>Target Filtering</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/boundaries']">
                    <i class="fa fa-filter"></i>
                    <span>Boundary Filtering</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/resultmenu']">
                    <i class="fa fa-bars"></i>
                    <span>Result Menu</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/articles']">
                    <i class="fa fa-paperclip"></i>
                    <span>Articles</span>
                </a>
            </li>
        </ul>
    </section>
</aside>