<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" [routerLink]="['/account/home']">Fiberfox</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/account/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/account/start']">Start Flow</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="">
          <span>{{ user.username }}</span>
        </li>
        <li>
          <a (click)="logout()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-12 bigcrow">
    <div class="row m-t-35">
      <div class="col-md-10 col-md-offset-1 outer-box-style">
        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>