<section class="content-header">
    <h1>
        Categories
        <small>CRUD</small>
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p-table [value]="categories" selectionMode="single" [(selection)]="selectedCategory" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Sort Order</th>
                        <th>Remove</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr [pSelectableRow]="category" title="Click on the row to edit">
                        <td>{{category.Name}}</td>
                        <td>{{category.SortOrder}}</td>
                        <td>
                            <a class="btn-danger" (click)="remove(category.CategoryId)">Remove</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <button (click)="addNew()" class="m-t-20 btn btn-primary">
                <i class="fa fa-plus"></i>&nbsp; Add</button>
        </div>
    </div>
</section>

<!-- edit modal -->
<p-dialog header="Category Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
    <div class="ui-g ui-fluid" *ngIf="category">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="name">Name</label>
            </div>
            <div class="ui-g-8 p-0">
                <input class="form-control" pInputText id="name" [(ngModel)]="category.Name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="sortorder">SortOrder</label>
            </div>
            <div class="ui-g-8 p-0">
                <input class="form-control" pInputText id="sortorder" [(ngModel)]="category.SortOrder" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button (click)="close()" class="m-t-20 btn btn-danger">
                <i class="fa fa-close"></i>&nbsp; Cancel</button>
            <button (click)="save()" class="m-t-20 btn btn-primary">
                <i class="fa fa-check"></i>&nbsp; Save</button>
        </div>
    </p-footer>
</p-dialog>