<div class="row">
  <div class="container">

    <div class="box_shadow" style="border:3px solid #7f7f7f; width:100%; float:left;">
      <div class="col-sm-12">
        <h4 class="text-center">
          Thank you for using CoDiCo-FiberFox!
          <br> We hope that the search results provided, were helpful for you.
        </h4>

        <div class="box">
          Our CoDiCo-FibreFox uses deep-learning algorithms and can learn from your feedback and optimize search results. Please evaluate
          the content provided to you.

        </div>


        <ul class="rating-list">
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            Provided information was applicable to my situation
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            Provided information was technical correct

          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            Level of detail was good for understanding
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-star-o"></i>
            </a>
            Information was up-to-date

          </li>
        </ul>
        <div class="box">
          Other feedback / extension requests for developers –
          <a class="text-info" href="mailto:amrahman30@gmail.com" target="_blank">Click here</a>

        </div>

        <div class="box-gray">
          Skip the evaluation and go to the main menu –
          <a class="text-warning" [routerLink]="['/account/start']">Click here</a>

        </div>

      </div>
    </div>

  </div>
</div>